/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-board {
  background-image: url(../images/sprite.png);
  background-position: -112px 0px;
  width: 78px;
  height: 37px;
}
.icon-clock {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 56px;
  height: 56px;
}
.icon-drink {
  background-image: url(../images/sprite.png);
  background-position: -56px 0px;
  width: 56px;
  height: 56px;
}
.icon-meat {
  background-image: url(../images/sprite.png);
  background-position: 0px -56px;
  width: 56px;
  height: 56px;
}
.icon-storm {
  background-image: url(../images/sprite.png);
  background-position: -56px -56px;
  width: 56px;
  height: 56px;
}
