.action-block {
    @include inline-blocks(top);
    width: 56px;
    height: 56px;
    margin-left: 10px;
    cursor: pointer;
    &--disabled {
        .action-block__picture {
            opacity: 0.5;
        }
    }
    &:first-child {
        margin-left: 0px;
    }
    &__picture {
        width: 56px;
        height: 56px;
    }
    &__timer {
        position: absolute;
        text-align: center;
        width: 56px;
        font: 14px/56px "Trebuchet MS";
        color: white;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    }
}
