.actions {
    user-select: none;
    width: 361px;
    height: 124px;
    background-image: url(../images/bg.png);
    padding-top: 1px;
    &__blocks {
        text-align: center;
        margin-top: 10px;
    }
    &__board {
        margin: 10px 0 0 22px;
        text-align: right;
        color: white;
        font: 22px/37px "Trebuchet MS";
        font-weight: bold;
        font-style: italic;
        box-sizing: border-box;
        padding-right: 14px;
    }
}
