<div class="action-block" ng-click="clickHandler()" ng-class="{'action-block--disabled': isBlock}">
    <!-- Timer и picture элементы находятся на одном уровне, чтобы при наложении opacity на picture, timer это не задевало -->
    <div class="action-block__timer" ng-show="isBlock">{{timerFormat}}</div>
    <div class="action-block__picture" ng-class="iconClass"></div>
</div>
